@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #26335d;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.width-35percent {
  width: 35%;
}

.width-70percent {
  width: 70%;
}

.border-px-solid-violet {
  --tw-bg-opacity: 1;
  border: 1px solid rgb(91 33 182 / var(--tw-bg-opacity));
}

/* Second Section Component / classes */

.width-second-section-paraph {
  width: 32rem;
}

.color-2nd-section {
  color: #8d5cf6;
}

.width-55percent {
  width: 55%;
}

.width-85percent {
  width: 85%;
}

/* Sixth Section Component / classes */

.width-sixth-section-input {
  width: 30rem;
}

.color-6th-section {
  background-color: #8d5cf6;
}
